<!-- Employee Benefit self service front page -->

{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<header>
  <h1>Benefit Management - Self Service let say user name : {{user.email}} <a href="logout_user" style="color:black">logout</a></h1>
  
</header>
<main>
  <div class="card">
    <h2>Welcome to Benefit Management</h2>
    <p>View and manage benefit plans that are available.</p>
    <button><a href="plans/{{user.email}}">Explore Benefits</a></button>
  </div>

  <div class="card">
    <h2>My Enrollment</h2>
    <p>View enrollement activities.</p>
    <a href="myenrol/{{user.email}}">Learn More</a>
  </div>
</main>
{% endblock %}
