{% extends 'base.html' %}

{% block content %}
  <div class="mt-4">
    <h2 class="mb-4">Employee List</h2>
    <form method="get" action=".">
      <input type="text" name="q" placeholder="Search by name or email" value="{{ request.GET.q }}">
      <button type="submit">Search</button>
  
    </form>
    {% if employees %}
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Department</th>
          <th>Job Title</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for employee in employees %}
          <tr>
            <td>{{ employee.user.firstname }}</td>
            <td>{{ employee.department.name }}</td>
            <td>{{ employee.job_title }}</td>
            <td>
              <a class="btn btn-primary btn-sm" href="{% url 'employee_detail' employee.pk %}">View</a>
              <a class="btn btn-warning btn-sm" href="{% url 'employee_edit' employee.pk %}">Edit</a>
              <a class="btn btn-danger btn-sm" href="{% url 'employee_delete' employee.pk %}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No employee record found for the given search query.</p>
  {% endif %}
    <a class="btn btn-success mt-3" href="{% url 'employee_add' %}">Add Employee</a>
  </div>
{% endblock %}
