<!-- templates/base_generic.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Employee Management{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header>
        <h1>Employee Management</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'employee_list' %}">Employees</a></li>
            <!-- Add more navigation links here -->
        </ul>
    </nav>
    <div>
        {% block content %}
        <!-- Default content -->
        {% endblock %}
    </div>
</body>
</html>

