{% extends 'base.html' %}

{% block content %}
  <h2>Attendance Records</h2>

  <form method="get" action=".">
    <input type="text" name="q" placeholder="Search by name or email" value="{{ request.GET.q }}">
    <button type="submit">Search</button>

  </form>
  {% if records %}
  <table>
    <tr>
      <th>Employee</th>
      <th>Date</th>
      <th>Check-in Time</th>
      <th>Check-out Time</th>
      <th>Status</th>
    </tr>
    {% for record in records %}
    <tr>
      <td>{{ record.employee.firstname }}</td>
      <td>{{ record.date }}</td>
      <td>{{ record.check_in_time }}</td>
      <td>{{ record.check_out_time }}</td>
      <td>{{ record.status }}</td>
    </tr>
    {% endfor %}
  </table>
  <a href="{% url 'attendance_report' %}">Download Attendance Report</a>
  {% else %}
    <p>No attendance records found.</p>
  {% endif %}
  <a href="{% url 'attendance_record_create' %}">Add New Record</a>
{% endblock %}
